@font-face {
  font-family: 'IBMPlexSerif';
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/IBMPlexSerif-Text.woff2') format('woff2');
}
@font-face {
  font-family: 'IBMPlexSerif';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/IBMPlexSerif-TextItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Outfit';
  font-display: swap;
  src: url('/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Aleo';
  font-display: swap;
  src: url('/fonts/Aleo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Aleo';
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/Aleo-Light.ttf') format('truetype');
}
